@import url('https://fonts.googleapis.com/css?family=Lancelot');

@tailwind base;
@tailwind components;
@tailwind utilities;

.lancelot-font {
    font-family: 'Lancelot';
}

.theme-color {
    color: #db4a2b;
}

.theme-bg {
    background-color: #db4a2b;
}

.tooltip {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 0.5rem;
    width: 18rem;
    max-width: 100%;
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.8);
    border: 1px solid #d1d5db;
    color: #fff;
    border-radius: 0.25rem;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    z-index: 10;
    overflow-y: auto;
    max-height: 12rem;
    /* Adjust the height as needed */
}

.tooltip-content {
    white-space: normal;
}

@keyframes fade-in {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.animate-fade-in {
    animation: fade-in 0.5s ease forwards;
}

body {
    background-color: #ffffff;
    color: #000000;
    transition: background-color 0.3s, color 0.3s;
  }
  
  /* Dark theme */
  html.dark body {
    background-color: #1f2937; /* Tailwind's gray-900 */
    color: #ffffff;
  }
  
  /* Example for buttons */
  button {
    background-color: #f0f0f0;
    color: #333333;
  }
  
  html.dark button {
    background-color: #374151; /* Tailwind's gray-700 */
    color: #ffffff;
  }